
* {
  box-sizing: border-box;
}

.button {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.font-instruction {
  font-family:'Lato',sans-serif;
  text-align: center;
  z-index: 5;
}

.is-raleway {
  font-family:'Raleway';
}

.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 10;
}

.header-inner {
  padding: 15px 0 15px;
}

.fa-bolt {
  font-size: 40px;
  float: left;
  vertical-align: middle;
}

.header-button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  float: right;
  transition: 0.3s;
}

.header-button:hover {
  color: #333;
}

.main {
  background-color: #f2f2f2;
  padding-top: 70px;
}

.theme-inner {
  padding: 250px 0 250px;
}

.theme-header {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme-para {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.introduction {
  background-color: #74cfae;
}

.introduction-inner {
  padding-top: 50px;
}

.img-phone {
  float: left;
  width: 330px;
}

.intro-text {
  float: left;
  width: 770px;
  vertical-align: top;
  color: #fff;
  line-height: 30px;
}

.intro-header {
  font-size: 24px;
}

.intro-header-para {
  font-size: 20px;
  margin-top: 35px;
}

.article-inner {
  padding: 60px 0 70px;
}

.article-header {
  font-size: 24px;
}

.article-imgs {
  font-size: 0;
  margin-top: 40px;
}

.article-img-button {
  display: inline-block;
  margin-left: 100px;
  margin-top: 80px;
  opacity: 0.7;
  transition: 0.3s;
}

.article-img-button:hover {
  opacity: 1;
}

.article-img-button:nth-child(3n+1) {
  margin-left: 0;
}

.article-img-button:nth-child(-n+3) {
  margin-top: 0;
}

.article-text {
  margin-top: 90px;
}

.article-text-para {
  margin-left: 60px;
  float: left;
  width: 580px;
  line-height: 25px;
  font-size: 20px;
  margin-left: 150px;
}

.article-text-button {
  padding: 14px 20px;
  float: left;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  margin-left: 90px;
  transition: 0.3s;
}

.article-text-button:hover {
  color: #333;
}

.content {
  background-color: #4e4e4e;
  font-size: 0;
}

.content-inner {
  padding-top: 70px;
  padding-bottom: 100px
}

.button-figures {
  margin-top: 40px;
}

.figure-names {
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}

.content-header {
  color: #fff;
  font-size: 24px;
}

.content-figures {
  margin-top: 50px;
}

.figure {
  display: inline-block;
  margin-left: 180px;
}

.figure:first-child {
  margin-left: 0;
}

.nav-inner {
  padding: 200px 0 200px 0;
  font-size: 0;
}

.sns-button {
  display: inline-block;
  width: 185px;
  font-size: 40px;
  padding: 25px;
  color: #74cfae;
  transition: 0.3s;
}

.sns-button:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px;
}
.footer-para {
  text-align: right;
  color: #fff;
}



