
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.font-instruction {
  font-family:'Lato','Raleway',sans-serif;
  text-align: center;
  z-index: 5;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.header {
  position: fixed;
  background-color: #fff;
  color: #333;
  padding: 15px;
  width: 100%;
  z-index: 10;
}

.fa-bolt {
  font-size: 40px;
  float: left;
  vertical-align: middle;
}

.header a {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  float: right;
  cursor: pointer;
  transition: 0.3s;
}

.header a:hover {
  color: #333;
}

.main {
  background-color: #f2f2f2;
}

.theme {
  padding: 250px 0 250px 0;
}

.theme h1 {
  font-size: 90px;
  font-weight: 700;
  color: #94cfae;
}

.theme h2 {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.introduction {
  background-color: #74cfae;
}

.introduction-inner {
  padding-top: 50px;
}

.img-phone {
  float: left;
  width: 30%;
}

.intro-text {
  float: left;
  width: 70%;
  vertical-align: middle;
  box-sizing: border-box;
  color: #fff;
  line-height: 30px;
}

.intro-text h1 {
  font-size: 24px;
}

.intro-text h2 {
  font-size: 20px;
  margin-top: 35px;
}

.article {
  box-sizing: border-box;
}

.article h1 {
  font-size: 24px;
  padding-top: 60px;
}

.article-imgs {
  font-size: 0;
  padding-top: 40px;
}

.article-imgs li {
  display: inline-block;
  margin-left: 100px;
  margin-top: 80px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

.article-imgs li:hover {
  opacity: 1;
}

.article-imgs li:nth-child(3n+1) {
  margin-left: 0;
}

.article-imgs li:nth-child(-n+3) {
  margin-top: 0;
}

.article-text {
  margin-top: 90px;
  padding-bottom: 70px;
}

.article-text a {
  padding: 14px 20px;
  float: left;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  margin-left: 90px;
  cursor: pointer;
  transition: 0.3s;
}

.article-text a:hover {
  color: #333;
}
.article-text h2 {
  float: left;
  width: 70%;
  line-height: 25px;
  font-size: 20px;
}

.content {
  background-color: #4e4e4e;
  font-size: 0;
}

.content-inner {
  padding-top: 70px;
  padding-bottom: 100px
}

.article-text-inner a:hover {
  color: #333;
}

.content-inner ul {
  padding-top: 40px;
}

.content-inner p {
  font-size: 16px;
  color: #fff;
  padding: 5px;
}

.content h1 {
  color: #fff;
  font-size: 24px;
}

.content li {
  display: inline-block;
  margin-left: 180px;
}

.content li:first-child {
  margin-left: 0;
}

.nav-inner {
  padding: 200px 0 200px 0;
  font-size: 0;
}

.nav-inner a {
  display: inline-block;
  width: 185px;
  font-size: 40px;
  padding: 25px;
  color: #74cfae;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
}

.nav-inner a:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
}

.footer {
  padding-top: 20px;
  padding-bottom: 25px;
}
.footer p {
  float: right;
  color: #fff;
}



