
* {
  box-sizing: border-box;
  float: none;
}

.button {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.font-instruction {
  font-family:'Lato',sans-serif;
  text-align: center;
  z-index: 5;
}

.is-raleway {
  font-family:'Raleway';
}

.header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 10;
}

.header-inner {
  padding: 15px 0;
}

.fa-bolt {
  font-size: 40px;
  color: #4e4e4e;
  float: left;
  vertical-align: middle;
}

.header-button {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  float: right;
  transition: 0.3s;
}

.header-button:hover {
  color: #333;
}

.humburger-box {
  display: none;
}

.main {
  padding-top: 70px;
}

.theme {
  background-color: #f2f2f2;
}

.theme-inner {
  padding: 250px 0;
}

.theme-header {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme-para {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.introduction {
  background-color: #74cfae;
}

.introduction-inner {
  padding-top: 50px;
}

.intro-text {
  color: #fff;
  vertical-align: top;
  line-height: 30px;
}

.intro-header {
  font-size: 24px;
}

.intro-header-para {
  font-size: 20px;
  margin-top: 35px;
}

.article {
  background-color: #f2f2f2;
}

.article-inner {
  padding: 60px 0 70px;
}

.article-header {
  font-size: 24px;
}

.article-imgs {
  font-size: 0;
  margin-top: 40px;
}

.article-img-button {
  display: inline-block;
  opacity: 0.7;
  transition: 0.3s;
}

.article-img-button:hover {
  opacity: 1;
}

.article-text {
  margin-top: 90px;
}

.article-text-para {
  line-height: 25px;
  font-size: 20px;
}

.article-text-button {
  display: inline-block;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  transition: 0.3s;
}

.article-text-button:hover {
  color: #333;
}

.content {
  background-color: #4e4e4e;
  font-size: 0;
}

.content-inner {
  padding-top: 70px;
  padding-bottom: 100px
}

.figure-names {
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}

.content-header {
  color: #fff;
  font-size: 24px;
}

.content-figures {
  margin-top: 50px;
}

.figure {
  display: inline-block;
}

.navigation {
  background-color: #f2f2f2;
}

.nav-inner {
  font-size: 0;
  padding: 200px 0;
  font-size: 0;
}

.sns-button {
  display: inline-block;
  width: 185px;
  font-size: 40px;
  padding: 25px;
  color: #74cfae;
  transition: 0.3s;
}

.sns-button:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px;
}

.footer-para {
  text-align: right;
  color: #fff;
}

@media screen and (min-width: 1100px) {
  
  .img-phone {
    float: left;
    width: 330px;
    font-size: 0;
  }
  
  .intro-text {
    float: left;
    width: 770px;
    line-height: 30px;
  }

  .article-img-button {
    margin-left: 100px;
    margin-top: 80px;
  }

  .article-img-button:nth-child(3n+1) {
    margin-left: 0;
  }
  
  .article-img-button:nth-child(-n+3) {
    margin-top: 0;
  }

  .article-text-para {
    float: left;
    width: 580px;
    margin-left: 150px;
  }
  
  .article-text-button {
    float: left;
    margin-left: 90px;
  }
  
  .figure {
    margin-left: 180px;
  }
  
  .figure:first-child {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1099px) {

  .inner {
    width: 97%;
  }

  .introduction-inner {
    padding: 50px 0 25px;
  }

  .intro-header {
    margin-top: 20px;
  }

  .intro-header-para {
    margin-top: 35px;
  }

  .article-inner {
    padding: 60px 0 70px;
  }

  .article-img-button {
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  .article-img-button:nth-child(3n+1) {
    margin-top: 80px;
  }
  
  .article-img-button:first-child {
    margin-top: 0;
  }
  
  .article-text {
    margin-top: 80px;
  }

  .article-text-button {
    margin-top: 40px;
  }

  .figure {
    display: block;
    width: 122px;
    margin: 88px auto 0;
  }

  .figure:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {

  .header-button {
    display: none;
  }

  .humburger-box {
    display: block;
    float: right;
    width: 45px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }

  .humburger-border {
    border-bottom: 3px solid #ddd;
    margin-top: 3px;
  }

  .humburger-border:first-child {
    margin-top: 0;
  }
  .theme-inner {
    padding: 160px 0 130px;
  }

  .theme-header {
    font-size: 80px;
  }

  .theme-para {
    margin-top: 20px;
    font-size: 30px;
  }

  .sns-button {
    width: 100%;
  }

  .nav-inner {
    padding: 50px 0 50px;
  }
}